body
{
	
}

h1, h2, h3, h4, h5 { font-family: Helvetica, Arial, Sans-Serif; }

del 
{
	color: red;
}
ins 
{
	color: green; text-decoration: none;
}

a.invalid
{
	color: red;
}

span.error 
{
	color: red;
}
span.found 
{
	color: green;
}

#info
{
	color: gray;
	font-style: italic;
} 

#help
{
	background-color: lightgreen;
} 

#editmenu
{
	padding: 5px;
	background-color: lightgray;
	overflow: hidden;
} 

#editmenu a
{
	color: black;
} 

#editmenu0
{
	background-color: transparent;
} 

#editmenu0 a
{
	color: gray;
} 


#langmenu
{
	text-align: right;
	width: 760px;
	color: gray; 
	font-size: 80%;
	font-family: Helvetica, Arial, Sans-Serif;
	
	left: 10px;
	top: 0px;
	background-color: transparent;
} 

#langmenu a
{
	color: gray;
} 


#menu
{
	width: 120px;
	color: gray; 
	font-size: 80%;
	font-family: Helvetica, Arial, Sans-Serif;
	position: absolute;
	left: 10px;
	top: 120px;
} 

#menu a
{
	color: gray;
} 

#search
{
	color: gray; 
	font-size: 80%;
	font-family: Helvetica, Arial, Sans-Serif;
	
	text-align: right;
	position: absolute;
	left: 600px;
	top: 50px;
	
} 

#title
{
	width: 600px;
	left: 160px;
	top: 50px;
	position: absolute;
}

#content
{
	width: 600px;
	left: 160px;
	top: 120px;
	position: absolute;
}


iframe.youtube
{
	width: 640px;
	height: 385px;
}

video.yfrog
{
	width: 640px;
	height: 360px;
}

img.yfrog
{
	width: 640px;
}

table.queryfunction
{
	border-collapse: collapse;
	width: 100%;
}

table.queryfunction td,
table.queryfunction th
{
	text-align: left;
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.relation table.print,
table.datatable
{
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}

.sortable th
{
    cursor: pointer;
}

input.sortable
{
	width: calc(100% - 7px);
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}


td { vertical-align: top;  width: 50% }

.relation table.print td,
.relation table.print th,
table.datatable td,
table.datatable th
{
	text-align: left;
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: auto;
}

.relation table.print td.numberformat
{ text-align:right }


table.fieldseditor
{
	border-collapse: collapse;
	width: 100%;
}

table.fieldseditor td,
table.fieldseditor th
{
	text-align: left;
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	width: auto;
}

table.fieldseditor td.key
{
	font-weight: bold;
}



.relation textarea.tab,
.relation textarea.csv,
.relation textarea.json

{ width:100%;height:200px; }

#searchfield
{
	width:120px;
}

input.searchfield
{
	width:100%;
}