#content
{	
	background-color: white;
	padding: 20px;
	left: 0px;
	top: 30px;
	position: relative;
	width: calc(100% - 20px);
	
}


#editmenu
{
	padding: 5px;
	background-color: #eee;	
} 

#editmenu a
{
	text-decoration: none;
} 

#editmenu0
{
	background: none;
} 

#editzonesource
{
 	color: rgba(0,0,0,1);
 	background-color: transparent;
 	overflow        : hidden;
}
 
 #editzonecolor
{
  	color: transparent;
  	background-color: white;
  	overflow : hidden;
  	left: 4px;
  	right:4px;
  	background-color: transparent;
}


#header
{	
	width: 120px;
	position: absolute;
	left: 10px;
	top: 10px;
}


#info
{
	position: relative;
	padding: 20px;
	margin-top: 20px;
} 


#langmenu
{
	text-align: right;
	width: 760px;
	
	left: 10px;
	top: 0px;
	background: none;
	font-size: 100%;
} 

#langmenu a
{
	text-decoration: none;
} 

#main
{
	width: 600px;
	left: 160px;
	top: 40px;
	position: absolute;
}

#menu
{
	width: 120px;
	position: absolute;
	left: 10px;
	top: 140px;
	font-size: 100%;
} 

#menu a
{
	color: rgb(0, 0, 238);
	text-decoration: none;
} 

#menu a:visited
{
	color: rgb(85, 26, 139);
	text-decoration: none;
}

#mobilemenu
{
	display: none;
}

#searchfield
{
	width:120px;
}

body
{
	background-color: #eee;
	font-family: Sans-Serif;
	font-size: 13px;
	line-height: 19px;
}

h1
{
	font-size: 26px;
    line-height: 30px;
	font-weight: normal;
	padding-bottom: 6px;
	border-bottom: 1px solid gray;

}


input.searchfield
{
	width:100%;
}

mark.parsed
{ 
 	background-color: LightGreen; color: transparent;
}
 
mark.error
{
 	background-color: LightPink; color:transparent
}


table
{ 
	width:100%;
	border-collapse: collapse;
}

table.blanktable td 
{
	border: 0px solid white;
}

table.sortable td 
{
	border: none;
}


td
{ 
	vertical-align: top;
	border: 1px solid black;
	padding: 2px;
	width: auto;
}







} 



@media (min-width: 641px){
	#content
	{
		position: relative;
		top: 0px;
		left: 0px;
	}
}

@media all and (max-width:640px)
{
	#main
	{
		position: relative;
		top: 0px;
		left: 0px;	
		width: 100%;
	}
	
	#menu
	{
		display: none;
	}
	
	#mobilemenu
	{
		font-size: 120%;
		display: block;
		position: relative;
		top: 0px;
		left: 0px;
		padding-left: 10px;
		padding-right: 10px;
		display: block;
		font-weight: normal;
	
	}
	
	#mobilemenu a
	{
		margin-right: 10px;
	}
	
	#langmenu
	{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		text-align: left;	
		height: auto;
	}
	
	#header
	{
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;	
		background-color: red;
		height: auto;
	}
	
	body {
		width: 100%;
	}
		
	input.searchfield
	{
		width: calc(100% - 20px);

	}


}
 