body
{
	background-color: #eee;
	font-family: Sans-Serif;
	font-size: 13px;
	line-height: 19px;
}


h1
{
	font-size: 26px;
    line-height: 30px;
	font-weight: normal;
	padding-bottom: 6px;
	border-bottom: 1px solid gray;

}

del 
{
	color: red;
}
ins 
{
	color: green; text-decoration: none;
}

a.invalid
{
	color: red;
}

span.error 
{
	color: red;
}
span.found 
{
	color: green;
}

#info
{
	padding: 20px;
} 

#header
{	
	width: 120px;
	position: absolute;
	left: 10px;
	top: 10px;
}

#help
{
	background-color: lightgreen;
} 

#editmenu
{
	padding: 5px;

	
} 

#editmenu a
{
	text-decoration: none;
} 

#editmenu0
{
	background: none;
} 

#editmenu0 a
{
} 


#langmenu
{
	text-align: right;
	width: 760px;
	
	left: 10px;
	top: 0px;
	background: none;
} 

#langmenu a
{
	text-decoration: none;
} 


#menu
{
	width: 120px;
	position: absolute;
	left: 10px;
	top: 140px;
} 

#menu a
{
	text-decoration: none;
} 

#search
{
	color: gray; 
	font-size: 80%;
	font-family: Sans-Serif;
	
	text-align: right;
	position: absolute;
	left: 600px;
	top: 50px;
	
} 

#title
{
	
}

#content
{
	
	background-color: white;
	padding: 20px;
}

#main
{
	width: 600px;
	left: 160px;
	top: 40px;
	position: absolute;
}


iframe.youtube
{
	width: 640px;
	height: 385px;
}

video.yfrog
{
	width: 640px;
	height: 360px;
}

img.yfrog
{
	width: 640px;
}

table { width:100%;  border-collapse: collapse; table-layout: fixed;}

td { vertical-align: top; border: 1px solid black; padding: 2px;}

table.blanktable td {border: 0px solid white; } 
 	
.editzonecommon {
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	right: 0px; 	
 	width: 100%;
 	height: 100%;
 	font-family: monospace;
 	font-size   : 12px;
 	line-height: 18px;
  word-break  : normal;
  word-wrap   : break-word;
  white-space : pre-wrap;
  bordeer     : 1px solid black;
  margin      : 0;
  padding     : 0;
  border-radius: 0;
 }
 #editzonesource {
 	color: rgba(0,0,0,1);

  background-color: transparent;
  overflow        : hidden;
 }
 
 #editzonecolor {

  color           : transparent;
  background-color: white;
  overflow        : hidden;
  left: 4px;
  right:4px;
  background-color: transparent;
  
  
 }

 
 mark.parsed { 
 	background-color: LightGreen; color: transparent;
 }
 
 mark.error {
 	background-color: LightPink; color:transparent
 }
 